<div class="jumbotron text-center bg-secondary text-white">
    <img src="../../../assets/culturologo.png" class="img-fluid mb-3" alt="Responsive image">
    <h1 class="display-4">E-Commerce Website for Vendors</h1>
    <p class="lead">Welcome to our e-commerce website for vendors! Our platform allows vendors to easily create an account, add, edit and delete products, manage their inventory, and more.</p>
    <hr class="my-4">
    <a class="btn btn-primary mr-4" href="/signup" role="button">Sign Up Now</a>
    <a class="btn btn-light ml-2" href="/login" role="button">Login</a>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2 class="text-primary">Features</h2>
            <ul class="list-group">
                <li class="list-group-item list-group-item-success d-flex align-items-center">Create an account</li>
                <li class="list-group-item list-group-item-info d-flex align-items-center">Add, edit, and delete products</li>
                <li class="list-group-item list-group-item-warning d-flex align-items-center">Manage inventory</li>
                <li class="list-group-item list-group-item-danger d-flex align-items-center">View customer orders and transactions</li>
                <li class="list-group-item list-group-item-secondary d-flex align-items-center">Respond to customer inquiries and feedback</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2 class="text-success">Benefits</h2>
            <ul class="list-group">
                <li class="list-group-item list-group-item-primary d-flex align-items-center">Increase sales</li>
                <li class="list-group-item list-group-item-secondary d-flex align-items-center">Easily manage inventory</li>
                <li class="list-group-item list-group-item-success d-flex align-items-center">Engage with customers</li>
                <li class="list-group-item list-group-item-danger d-flex align-items-center">Track website traffic and sales performance</li>
            </ul>
        </div>
   
